{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>	
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@200;300;400;600&family=Titillium+Web&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>{{ title }}</title>
</head>
<body>

<!-- Header -->

<header class="header">
	<div class="container">
		<div class="header__inner">
				<div class="header__logo">
					<img class="logo" src="./img/Logo.svg" alt="">
				</div>
				<nav class="nav">
					<a class="nav__link" href="#">Features</a>
					<a class="nav__link" href="#">Works</a>
					<a class="nav__link" href="#">Our Team</a>
				</nav>
		</div>
	</div>
</header>

{% block content %}
{% endblock %}

<!-- Connecting the JavaScript -->

<script src="{% static 'script.js' %}" type="text/javascript"></script>

</body>
</html>