{% extends 'structur.html' %}

{% load static %}

{% block content %}

<!-- Product -->

<div class="product">
	<div class="product__img__inner">
	{% for m in img %}
		<img class="product__img__item" src="{{ m }}">
	{% endfor %}
		<a class="product__img__arrow" onclick="changeSlide(-1)">&#10094</a>
		<a class="product__img__arrow product__img__arrow_" onclick="changeSlide(1)">&#10095</a>
		<div class="product__img__dot__inner">
		{% for i in l_img %}
			{% if i == 0 %}
				<span class="product__img__dot__item product__img__dot__item__active" onclick="changeSlideDot({{ i }})"></span>
			{% else %}
				<span class="product__img__dot__item" onclick="changeSlideDot({{ i }})"></span>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	<div class="product__details">
		<h1 class="product__name">{{ name }}</h1>
		<p class="product__code">Item code: {{ id }}</p>
		<h3 class="product__description__title">Description</h3>
		<p class="product__description">{{ description }}</p>
		<h3 class="product__price__title">Price</h3>
		<p class="product__price">{{ price }}</p>

	</div>
</div>

{% endblock %}