{% extends 'structur.html' %}

{% load static %}

{% block content %}

<!-- Product -->

<div class="product">
	<div class="product__img__inner">
		<img class="product__img__item" src="https://delavega.ua/image/catalog/catalog/Sofas/sofa%20A111/1938_782-a111-new-1.jpg">
	</div>
	<div class="product__details">
		<h1 class="product__name">{{ name }}</h1>
		<p class="product__code">Item code: {{ id }}</p>
		<h3 class="product__description__title">Description</h3>
		<p class="product__description">{{ description }}</p>
		<h3 class="product__price__title">Price</h3>
		<p class="product__price">{{ price }}</p>

	</div>
</div>

{% endblock %}